@using WeatherForecast.ViewModels
@{
    ViewData["Title"] = "Weathers";
}

<h2>Проноз погоды</h2>
<div>
    @using (Html.BeginForm("Weathers", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-weathers" }))
    {
        <div>
            <p>Выберите начало месяца:</p>
            <input type="date" id="startDate" name="startDate"/>
            <input type="submit" value="Найти" class="btn btn-outline-dark"/>
        </div>
        <h1>Прогноз</h1>
        <table class="table" id="weatherTable">
            <tr id="weatherHeader">
                <th>Дата и время</th>
                <th>Температура воздуха</th>
                <th>Влажность воздуха</th>
                <th>Точка росы</th>
                <th>Атмосферное давление</th>
                <th>Направление ветра</th>
                <th>Скорость ветра</th>
                <th>Облачность</th>
                <th>Нижняя граница облачности</th>
                <th>Горизонтальная видимость</th>
                <th>Погодные явления</th>
            </tr>
            @foreach (WeatherViewModel w in Model)
            {
                <tr>
                    <td>@w.Date</td>
                    <td>@w.Temperature</td>
                    <td>@w.RelativeHumidity</td>
                    <td>@w.DewPoint</td>
                    <td>@w.AtmosphericPressure</td>
                    <td>@w.WindDirection</td>
                    <td>@w.WindSpeed</td>
                    <td>@w.CloudCover</td>
                    <td>@w.CloudLowerLimit</td>
                    <td>@w.HorizontalVisibility</td>
                    <td>@w.WeatherPhenomena</td>
                </tr>
            }
        </table>

    }
    @*@{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Weathers"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Weathers"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>*@
</div>