@using WeatherForecast.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,WeatherForecast
@{
    ViewData["Title"] = "Weathers";
}


<h2>Проноз погоды</h2>
<div>
    @using (Html.BeginForm("Weathers", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-weathers" }))
    {
        <div>
        <p>Выберите первый день даты:</p>
        <div>
            <input type="date" id="startDate" name="startDate"/>
            <select name="search" value="@Model.PagingInfo.PageSearch">
                <option value="month">Поиск по месяцу</option>
                <option value="year">Поиск по году</option>
            </select>
        </div>
            <input type="submit" value="Найти" class="btn btn-outline-dark" />
        </div>
            <h1>Прогноз</h1>
            <table class="table" id="weatherTable">
                <tr id="weatherHeader">
                    <th>Дата и время</th>
                    <th>Температура воздуха</th>
                    <th>Влажность воздуха</th>
                    <th>Точка росы</th>
                    <th>Атмосферное давление</th>
                    <th>Направление ветра</th>
                    <th>Скорость ветра</th>
                    <th>Облачность</th>
                    <th>Нижняя граница облачности</th>
                    <th>Горизонтальная видимость</th>
                    <th>Погодные явления</th>
                </tr>
           @foreach (WeatherViewModel w in Model.Weathers)
            {
                <tr>
                    <td>@w.Date</td>
                    <td>@w.Temperature</td>
                    <td>@w.RelativeHumidity</td>
                    <td>@w.DewPoint</td>
                    <td>@w.AtmosphericPressure</td>
                    <td>@w.WindDirection</td>
                    <td>@w.WindSpeed</td>
                    <td>@w.CloudCover</td>
                    <td>@w.CloudLowerLimit</td>
                    <td>@w.HorizontalVisibility</td>
                    <td>@w.WeatherPhenomena</td>
                </tr>
            }
        </table>
    }
</div>
<div page-model="@Model.PagingInfo" page-action="Weathers" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>